@{
    ViewBag.Title = "ManageHome";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}
<section class="home">
    <div class="container">
        <div class="head_sec">
            <h5><i class="fa fa-wrench"></i> <a href="/AllHome/AcademicsHome">ACADEMICS</a> </h5>
        </div>
        <div class="main_cnt">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits"><a href="/School/Student">Manage Students</a></h3>
                            <p class="gridDesc">Add Student or edit existing ones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits"><a href="/Report/StudentList"> Find Students</a></h3>
                            <p class="gridDesc">Search Students based on different search criterias</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Teacher/Attendance">Attendance Students</a>
                            </h3>
                            <p class="gridDesc">Take attendance of students by marking them present,absent</p>
                        </div>
                      
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/School/PromoteStuden">Promote Students </a>
                            </h3>
                            <p class="gridDesc">Promote Students to next session and assign classes</p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

    </div>
</section>