
@{
    ViewBag.Title = "ManageHome";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}
<section class="home">
    <div class="container">
        <div class="head_sec">
            <h5><i class="fa fa-wrench"></i> <a href="/AllHome/CurriculumHome">CURRICULUM    </a> </h5>
        </div>
        <div class="main_cnt">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits"><a href="/Student/Subjects">Manage Subjects </a></h3>
                            <p class="gridDesc">Add Subjects  or edit existing ones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Student/TimeTable"> Time Table </a>
                            </h3>
                            <p class="gridDesc">Add Class and Division TimeTable or edit existing ones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Progress/OptionalSubjects">Assign Optional Subjects </a>
                            </h3>
                            <p class="gridDesc">Assign Optional Subjects to Students</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Progress/OptionalSubjectsList">Manage Optional Subjects Students </a>
                            </h3>
                            <p class="gridDesc">Listing the students with their optional subjects </p>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</section>