
@{
    ViewBag.Title = "ManageHome";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}
<section class="home">
    <div class="container">
        <div class="head_sec">
            <h5><i class="fa fa-wrench"></i> <a href="/AllHome/ManageHome">MANAGEMENT</a> </h5>
        </div>
        <div class="main_cnt">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits"><a href="/School/TeacherList">Manage Teacher </a></h3>
                            <p class="gridDesc">Add Teachers or edit existing ones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/School/Class"> Manage Class and Division</a>
                            </h3>
                            <p class="gridDesc">Add Class and Division or edit existing ones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/School/StaffList">Manage Staff</a>
                            </h3>
                            <p class="gridDesc">Add Staff or edit existing ones</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Teacher/Departments">Manage Departments </a>
                            </h3>
                            <p class="gridDesc">Add department or edit existing onces</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Teacher/Designation">Manage Designation</a>
                            </h3>
                            <p class="gridDesc">Add Designation or edit existing ones eg: Principal,Sports Incharge etc</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Teacher/RoleDetails">Manage Roles</a>
                            </h3>
                            <p class="gridDesc">Add Roles and add assign permissions as to what a user under this role can use in School Man </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contents-grid">
                        <div class="icn">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="inner_ctnts">
                            <h3 class="gridTits">
                                <a href="/Progress/Region">Region</a>
                            </h3>
                            <p class="gridDesc">Categories the Class </p>
                        </div>
                    </div>
                </div>
                @*   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="contents-grid">
                            <div class="icn">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="inner_ctnts">
                                <h3 class="gridTits">
                                    <a href="/School/ChangePassword">School Settings</a>
                                </h3>
                                <p class="gridDesc">Manage School Address , School Email details,Logo ,Change Password</p>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="contents-grid">
                            <div class="icn">
                                <i class="fa fa-wrench"></i>
                            </div>
                            <div class="inner_ctnts">
                                <h3 class="gridTits">
                                    <a href="/School/ClassNotPublished">Promote Class</a>
                                </h3>
                                <p class="gridDesc">Promote class to next academics year</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>
</section>