@model Satluj_Latest.Models.AddDayBookModel

<form id="form-login"
      asp-action="AddDayBook"
      asp-controller="Journal"
      method="post">

    @Html.AntiForgeryToken()

    <div class="col-md-6">

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Type</label>
            </div>
            <div class="col-md-9">
                <select asp-for="TypeId"
                        class="form-control pv_account-type"
                        id="day-book-type-idd"
                        asp-items="Html.GetEnumSelectList<AccountType>()">
                    <option value="">--Choose--</option>
                </select>
                <span asp-validation-for="TypeId"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Date</label>
            </div>
            <div class="col-md-9 calendar-inp pos_icon_adj">
                <input asp-for="EntryDateString"
                       class="form-control date-dayBook-add"
                       placeholder="" />
                <i class="fa"></i>
                <span asp-validation-for="EntryDateString"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Voucher No</label>
            </div>
            <div class="col-md-9">
                <input asp-for="VoucherNo"
                       class="form-control"
                       placeholder="Voucher No"
                       readonly />
                <span asp-validation-for="VoucherNo"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Account Head</label>
            </div>
            <div class="col-md-9">
                <select asp-for="HeadId"
                        class="form-control accHead-drop-down"
                        id="day-book-head-id"
                        asp-items="ViewBag.Accountheadlist">
                    <option value="">--Choose--</option>
                </select>
                <span asp-validation-for="HeadId"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>SubLedger</label>
            </div>
            <div class="col-md-9">
                <select asp-for="SubLedgerId"
                        class="form-control"
                        disabled>
                    <option value="0">--select division--</option>
                </select>
                <span asp-validation-for="SubLedgerId"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Amount</label>
            </div>
            <div class="col-md-9">
                <input asp-for="Amount"
                       class="form-control"
                       placeholder="Amount"
                       autocomplete="off" />
                <span asp-validation-for="Amount"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="col-md-3">
                <label>Narration</label>
            </div>
            <div class="col-md-9">
                <input asp-for="Narration"
                       class="form-control"
                       placeholder="Narration"
                       autocomplete="off" />
                <span asp-validation-for="Narration"></span>
            </div>
        </div>

        <div class="form-group gap_bottom">
            <div class="modal-footer">
                <button type="button"
                        id="btn-edit-daybook"
                        class="btn pay-now-btn">
                    Edit
                </button>

                <button type="submit"
                        id="btn-save-daybook"
                        class="btn pay-now-btn">
                    Save
                </button>

                <button type="button"
                        id="btn-print-daybook-add"
                        class="btn pay-now-btn">
                    Print
                </button>
            </div>
        </div>
    </div>
</form>
<script>
    $("#form-login").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: this.action,
            type: "POST",
            data: $(this).serialize(),
            success: AddDayBookSuccess,
            error: AddDayBookFailed
        });
    });
</script>
