@model Satluj_Latest.Models.AcademicPeriodsModelClass

@{
    ViewData["Title"] = "Periods";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top:5px;">ACADEMICS PERIODS</h3>

        <div class="row" style="margin-left:15px !important;">

            <form id="form-teacher-add">
               
                <input type="hidden" asp-for="SchoolId" />
                <input type="hidden" asp-for="ClassId" />

                <div class="row">

                    <div class="form-group col-sm-3">
                        <label>Region :</label>
                        <select asp-for="RegionId"
                                asp-items="ViewBag.Regionlist"
                                class="form-control slct-region-dropdwn"
                                data-live-search="true"
                                style="display:inline-block; width:100%; min-width:180px;">
                            <option value="">--Choose--</option>
                        </select>
                        <span asp-validation-for="RegionId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-3">
                        <label>Class :</label>
                        <select class="form-control slct-class-dropdown" disabled></select>
                        <span id="class-required-periods-add" style="display:none;color:red;"></span>
                    </div>

                    <div class="form-group col-sm-3">
                        <label>Start Date :</label>
                        <input asp-for="StartDatestring" class="form-control date-add" />
                        <span asp-validation-for="StartDatestring" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-3">
                        <label>End Date :</label>
                        <input asp-for="EndDatestring" class="form-control date-add" />
                        <span asp-validation-for="EndDatestring" class="text-danger"></span>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-sm-3">
                        <label>Periods Name :</label>
                        <input asp-for="PeriodsName" class="form-control" placeholder="Periods Name" />
                        <span asp-validation-for="PeriodsName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-3">
                        <label></label>
                        <button type="submit" class="btn pay-now-btn" style="margin-top:9%;">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>

                </div>

            </form>

        </div>

        <div class="table-responsive" id="academicAreaList">
        </div>

    </div>
</div>

<script>
        $("#form-teacher-add").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: '/Teacher/AddAcademicPeriods',
            type: 'POST',
            data: $(this).serialize(),
            success: function (result) {

                if (result.status) {
                    toastr.success(result.msg);
                    RefreshData();
                }
                else {
                    toastr.error(result.msg);
                }
            },
            error: function () {
                toastr.error("Something went wrong");
            }
        });
    });
        $(document).on('change', '.slct-region-dropdwn', function () {

        var regionId = $(this).val();
        var schoolId = $('#SchoolId').val();
        console.log("RegionId:", regionId);
        console.log("SchoolId:", schoolId);

        if (regionId != '') {

            $.ajax({
                url: '/Data/LoadAllClass?id=' + regionId + '&schoolid=' + schoolId,
                type: "GET",
                success: function (result) {

                    $(".slct-class-dropdown").html("");

                    if (result.list.length > 0) {

                        $(".slct-class-dropdown").append('<option value="">--Choose Class--</option>');

                        $.each(result.list, function (i, item) {
                            $(".slct-class-dropdown").append(
                                $('<option></option>').val(item.value).html(item.text)
                            );
                        });

                        $(".slct-class-dropdown").prop("disabled", false);
                    }
                    else {
                        $(".slct-class-dropdown").append('<option value="">No Class Found</option>');
                        $(".slct-class-dropdown").prop("disabled", true);
                    }
                }
            });
        }
    });
    $('.date-add').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    });

    

    function AddAcademicPeriodsSuccess(result) {
        if (result.status) {
            toastrSuccess(result.msg);
            RefreshData();
        } else {
            toastrError(result.msg);
        }
    }

    function AddAcademicPeriodsFailure(result) {
        toastrError(result.msg);
    }

    function RefreshData() {
        $.get('/Teacher/ListAcademicPeriodsData/', function (data) {
            $('#academicAreaList').html(data);
            $('#PeriodsName').val('');
        });
    }

    $(document).on('change', '.slct-class-dropdown', function () {
        $('#ClassId').val($(this).val());
    });
    $(document).ready(function () {

        loadPeriodList();

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        $('.date-add').val(dd + '-' + mm + '-' + yyyy);
    });

    function loadPeriodList() {
        $.get('/Teacher/ListAcademicPeriodsData/', function (data) {
            $('#academicAreaList').html(data);
        });
    }
</script>
