    @model Satluj_Latest.Models.LoginModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Master Login";
}

<section class="login-body">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <img src="~/Content/img/child.png"
                     class="img-fluid d-none d-md-block child-img" />
            </div>

            <div class="col-md-5">
                <div class="login">
                    <h2 style="margin-bottom: 37px;">Master Login</h2>

                    <div class="login-form">
                        <h3>Login</h3>

                        <form id="login-form">
                            <input asp-for="userType" type="hidden" />

                            <div class="form-group">
                                <input asp-for="Email"
                                       class="form-control"
                                       id="username"
                                       placeholder="Username"
                                       maxlength="60" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password"
                                       class="form-control"
                                       type="password"
                                       id="password"
                                       placeholder="Password"
                                       maxlength="60" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="submit">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
<script>
    $(document).ready(function () {
        $(".se-pre-con").hide();
        $('#userType').val(5);
    });

    $('#login-form').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("CheckLogin", "Account")',
            type: 'POST',
            data: $(this).serialize(),
            success: function (result) {
                CheckLoginSuccess(result);
            },
            error: function () {
                toastrError("Login failed.");
            }
        });
    });

    function CheckLoginSuccess(result) {
        if (result.status) {
            $(".se-pre-con").show();

            if ([2, 3, 4, 5].includes(result.userType)) {
                window.location.href = '/School/Home';
            }
        } else {
            toastrError(result.msg);
        }
    }

    $(document).on('keypress', '#password', function (e) {
        if (e.which === 32) return false;
    });
    
</script>

}

   