@model Satluj_Latest.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/Content/Plugins/toastr/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Content/Plugins/toastr/toastr.min.js"></script>

    <style>
        .error {
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-main">
                    <div class="forgot-pass-mbain">

                        <img class="img-fluid" src="/Content/img/logo.png" width="200" />
                        <h3 class="main-title">Change Your Password</h3>

                        <form id="ResetPasswordWithNew-form">
                            <input type="hidden" asp-for="LoginGuid" />

                            <div class="form-group">
                                <label class="form-title">New Password</label>
                                <input asp-for="password"
                                       class="form-control"
                                       type="password"
                                       id="newPassword"
                                       placeholder="Please Enter the Password" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-title">Confirm Password</label>
                                <input asp-for="confirmPassword"
                                       class="form-control"
                                       type="password"
                                       id="newConfirmPassword"
                                       placeholder="Please Enter the Password same as above" />
                                <span asp-validation-for="confirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="custom-btn">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#ResetPasswordWithNew-form").on("submit", function (e) {
            e.preventDefault();

            let isValid = true;
            $('#ResetPasswordWithNew-form input[type="password"]').each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    isValid = false;
                } else {
                    $(this).removeClass("error");
                }
            });

            if (!isValid) return;

            $.ajax({
                url: '@Url.Action("ChangePasswordWithNew", "Account")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.status) {
                        toastr.success("Successful ...! Please Sign In");
                        setTimeout(function () {
                            window.location.href = "/Account/SchoolLogin";
                        }, 500);
                    } else {
                        toastr.error(result.message);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong.");
                }
            });
        });
    </script>
</body>
</html>
