@model Satluj_Latest.Models.PasswordChangeModel

<form id="form-login"
      asp-action="PasswordChange"
      asp-controller="School"
      method="post">

    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="SchoolId" />

    <div asp-validation-summary="All"></div>

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="form-group gap_bottom">
                    <div class="col-md-3">
                        <label asp-for="OldPassword"></label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="OldPassword"
                               type="password"
                               class="form-control"
                               autocomplete="off"
                               maxlength="60"
                               placeholder="Old Password" />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group gap_bottom">
                    <div class="col-md-3">
                        <label asp-for="Newpassword"></label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Newpassword"
                               type="password"
                               class="form-control"
                               autocomplete="off"
                               maxlength="60"
                               placeholder="New Password" />
                        <span asp-validation-for="Newpassword"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="ConfirmPassword"
                               type="password"
                               class="form-control"
                               autocomplete="off"
                               maxlength="60"
                               placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="modal-footer">
                    <button type="submit"
                            id="btn-save-daybook"
                            class="btn pay-now-btn">
                        Save
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    $('#form-login').submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                PasswordChangeSuccess(response);
            },
            error: function () {
                PasswordChangeFailed();
            }
        });
    });
</script>
