@model Satluj_Latest.Models.ScholasticAreaModel

@{
    ViewData["Title"] = "ScholasticArea";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}

<input type="hidden" asp-for="SchoolId" />
<input type="hidden" asp-for="RegionId" value="0" />

<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top: 5px;">Scholastic Area</h3>

        <div class="row">
            <form id="form-teacher-add"
                  asp-action="AddScholasticArea"
                  asp-controller="Progress"
                  method="post">

                <div class="form-group col-sm-3">
                    <label>Region :</label><br />
                    <select asp-for="RegionId"
                            asp-items="Model.RegionList"
                            class="form-control slct-region-dropdwn1"
                            data-live-search="true"
                            style="display:inline-block; width:100%; min-width:180px;">
                        <option value="">--Choose--</option>
                    </select>

                    <span asp-validation-for="RegionId" class="text-danger"></span>

                </div>

                <div class="form-group col-sm-3">
                    <label>Item :</label>

                    <input asp-for="AreaName"
                           class="form-control"
                           placeholder="Scholastic Area" />

                    <span asp-validation-for="AreaName" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-3">
                    <label>Total Score :</label>

                    <input asp-for="Score"
                           type="number"
                           class="form-control"
                           placeholder="Total Score" />

                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-3">
                    <label></label>
                    <button type="submit"
                            class="btn pay-now-btn"
                            style="margin-top: 9%;"
                            id="area-id">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <partial name="~/Views/Progress/_pv_ScholasticAreaList.cshtml" model="Model" />
        </div>
    </div>
</div>

<div class="modal fade" id="modalScholasticEdit" tabindex="-1" role="dialog"></div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            $(".scholastic-area-list").DataTable();
        });

        $("#form-teacher-add").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: $(this).serialize(),
                success: AddScholasticAreaSuccess,
                error: AddScholasticAreaFailure
            });
        });

        function AddScholasticAreaSuccess(result) {
            if (result.status) {
                toastrSuccess(result.msg);
            } else {
                toastrError(result.msg);
            }

            setTimeout(function () {
                window.location.href = '/Progress/ScholasticArea/';
            }, 300);
        }

        function AddScholasticAreaFailure() {
            toastrError("Failed!");
            setTimeout(function () {
                window.location.href = '/Progress/ScholasticArea/';
            }, 300);
        }

        // Delete Scholastic Area
        $(document).on('click', '.delete-class-tr', function () {
            var source = $(this);

            swal({
                title: "Are you sure?",
                text: "You will not be able to undo this!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((isConfirm) => {
                if (isConfirm) {
                    $.ajax({
                        url: '/Progress/DeleteScholastic/' + $(source).data('scho'),
                        type: "GET",
                        success: function (data) {
                            if (data.status) {
                                toastrSuccess(data.msg);
                                setTimeout(() => location.reload(), 300);
                            } else {
                                YesDelete($(source).data('scho'));
                            }
                        }
                    });
                }
            });
        });

        function YesDelete(id) {
            swal({
                title: "The score for this area is already given. Are you sure?",
                text: "You will not be able to undo this!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((isConfirm) => {
                if (isConfirm) {
                    $.ajax({
                        url: '/Progress/DeleteResultEnteredScholasticArea/' + id,
                        type: "GET",
                        success: function (data) {
                            if (data.status) {
                                toastrSuccess(data.msg);
                                setTimeout(() => location.reload(), 300);
                            } else {
                                toastrError(data.msg);
                            }
                        }
                    });
                }
            });
        }

        // Edit Scholastic Area
        $(document).on('click', '.edit-class-tr', function () {
            var source = $(this);

            $.ajax({
                url: '/Progress/ScholasticEditPartial/' + $(source).data('scho'),
                type: "GET",
                success: function (data) {
                    $('#modalScholasticEdit').html(data);
                    $.validator.unobtrusive.parse("#modalScholasticEdit");
                    $('#modalScholasticEdit').modal('show');
                }
            });
        });

        function EditScholasticAreaSuccess(result) {
            if (result.status) {
                toastrSuccess(result.msg);
                $('#modalScholasticEdit').modal('hide');
                setTimeout(() => location.reload(), 300);
            } else {
                toastrError(result.msg);
            }
        }
    </script>
}
